.review-post {
    padding: 10px;
    display: flex;
    margin: 10px;
}

.review-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 20px;
}

.review-comments {
    margin-left: 10px;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.rating-point {
    font-weight: 600;
    padding-left: 5px;

}